input[type="range"][orient="vertical"]{
  height: 580px;
  width: 100%;
  -webkit-appearance: slider-vertical;
  transition: all 800ms;
  outline: none;
}

/* Firefox */
    input[type="range"]::-moz-range-track {
        height: 0;
    }

    input[type="range"]::-moz-range-thumb{
      width: 100%;
      height: 15px;
      border-radius: 0%;
      background: #fff;
      border: 2px solid rgba(255,255,255,0.1);
      transition: all 300ms;
    }
    input[type="range"]:focus::-moz-range-thumb{
      border: 3px solid rgb(255,255,255);
      transition: all 300ms;
    }

/* Opera And Chrome */
    input[type="range"]::-webkit-slider-thumb {
        height: 0;
    }

    input[type="range"]::-webkit-slider-thumb{
      -webkit-appearance: none;
      width: 2px;
      height: 15px;
      border-radius: 0%;
      background: #fff;
      border: 2px solid rgba(255,255,255,0.1);
      transition: all 300ms;
    }
    input[type="range"]:focus::-webkit-slider-thumb{
        border: 3px solid rgb(255,255,255);
        transition: all 300ms;
    }

/* Red */
.redSliderBox {
  background: linear-gradient(to top, #000 , #F00);
}
/* Green */
.greenSliderBox {
  background: linear-gradient(to top, #000  , #0F0);
}
/* Blue */
.blueSliderBox {
  background: linear-gradient(to top, #000  , #00F);
}
/* Hue */
.hueSliderBox {
  background: linear-gradient(to top,hsl(0,100%,50%),hsl(60,100%,50%),hsl(120,100%,50%),hsl(180,100%,50%),hsl(240,100%,50%),hsl(300,100%,50%),hsl(360,100%,50%));
}
/* Saturation */
.satSliderBox {
background: linear-gradient(to top, #000  , #000 );
}
/* Luminace */
.lumSliderBox {
background: linear-gradient(to top, #000  , #000 );
}
